<?xml version="1.0" encoding="utf-8"?>

<!--
    Document   : AndroidManifest.xml
    Created on : March 16, 2012, 5:39 PM
    Author     : Tom
    Description:
        Manifest

    Copyright 2017 Thomas Cashavelly
    All Rights Reserved
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.bytethat"
      android:versionCode="3"
      android:versionName="1.0.3">
    <uses-sdk android:targetSdkVersion="22" android:minSdkVersion="22"></uses-sdk>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.front"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application  android:label="byteThat" android:icon="@drawable/bticon">
        <activity android:name="com.bytethat.activities.SplashScreenActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bytethat.activities.MainActivity"
        android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.bytethat.activities.WizardActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.bytethat.activities.SoundListActivity"
        android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
    </application>
</manifest>
